<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Slacktivity Monitor</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-ext.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
</head>

<body onload="load();">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="page-header">
                    <h1><a class="title-link" href="/"><img src="logo.png" width="56px"></img>Slacktivity Monitor</a> <small class="hidden-xs">Simple, self-hosted web monitoring.</small></h1>
                </div>

                  <div id="wait-for-load" class="hidden">

                <div class="alert alert-success alert-dismissible hidden" role="alert" id="success-msg">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Success!</strong> Your updates have been saved.
                </div>

                <div class="alert alert-danger alert-dismissible hidden" role="alert" id="failure-msg">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Error!</strong> There was a problem saving your changes.
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Basic Configuration</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-6">
                            <form action="/setupdateinterval" method="post">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Update Interval (Seconds)</label>
                                    <input type="number" class="form-control" id="update_interval" name="update_interval" placeholder="60" required>
                                    <small id="webhook-url-help" class="form-text text-muted">This will determine how often Slacktivity Monitor checks for changes.</small>
                                </div>
                                <button type="submit" class="btn btn-default">Update</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Slack Details</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-8">
                            <form action="/setslackdetails" method="post">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Webhook URL</label>
                                    <input type="url" class="form-control" id="webhook-url" name="webhook_url" placeholder="https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX" required>
                                    <small id="webhook-url-help" class="form-text text-muted">Don't have a webhook URL? <a href="https://my.slack.com/services/new/incoming-webhook/"> Create one here</a>.</small>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Slackbot Name</label>
                                    <input type="text" class="form-control" id="slackbot-name" name="slackbot_name" placeholder="slacktivity-monitor">
                                </div>
                                <button type="submit" class="btn btn-default">Update</button>
                            </form>
                        </div>

                    </div>
                </div>

                <div class="page-header">
                    <h3>Monitored Sites
                      <button id="add-button" onclick="showOrHideAddSitePanel()" class="btn btn-default btn-sm btn-default pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                      <button id="remove-button" onclick="showOrHideAddSitePanel()" class="btn btn-default btn-sm btn-default pull-right hidden"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                    </h3>
                </div>

                <div class="panel panel-success hidden" id="add-site">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Site</h3>
                    </div>

                    <div class="panel-body">
                        <div class="col-lg-12">
                            <form action="/addnewsite" method="post">
                                <div class="form-group">
                                    <label for="website-url">Website URL</label>
                                    <input name="website_url" type="url" class="form-control" id="website-url" required>
                                    <small id="website-url-help" class="form-text text-muted">This is the URL of the website you want to monitor.</small>
                                </div>

                                <div class="form-group">
                                    <label for="search-term">Search Term</label>
                                    <input name="search_term" type="text" class="form-control" id="search_term" placeholder="">
                                    <small id="webhook-url-help" class="form-text text-muted">You won't be notified unless there's a match for this term. If you want to be notifed when any change is made to the page, leave this field blank.</small>
                                </div>

                                <div class="form-group">
                                    <label for="custom-slack-channel">Slack Channel</label>
                                    <input name="custom_slack_channel" type="text" class="form-control" id="custom-slack-channel" placeholder="#">
                                    <small id="custom-slack-channel-help" class="form-text text-muted">If you don't specify one here, notifications will be sent to your webhook's default channel.</small>
                                </div>

                                <div class="col-xs-6 col-no-pad">
                                    <button type="submit" class="btn btn-default">Add Site</button>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>

                <div id="site-list">
                  <!-- Filled by JQuery in index.js -->
                </div>

            </div>
        </div>

      </div>
    </div>
</body>

</html>
